.App{
  max-width: 600px;
  margin: 0 auto;
  font-weight: 300;
}

.App-header {
  text-align: center;
  padding-bottom: 10px;
}

.App h1,h3,p{
  margin: 0;
}

.App button{
  background: #ededed;
  border: none;
}

.App button:hover{
  background: #a5a5a5;
}

.App .subtitle{
  font-size: .8em;
}

.ItemList{
  max-width: 600px;
}

.ItemCard {
  border: 1px solid #ededed;
  margin-bottom: 30px;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
}

.ItemCard .thumbnail{
  width: 100px;
  height: 100px;
}

.ItemCard .name{
  font-weight: 300;
}

.ItemCard .price{
  text-align: right;
  margin: 5px;
  font-size: 1.5em;
}

.Item-Thumbnail {
  background: #0f0;
  width: 100px;
  height: 100px;
}

.Item-Info{
  border-right: 1px solid #ededed;
  width: 400px;
  padding: 5px 0 0 5px;
}

.ItemActions-action{
  width: 92px;
  padding-bottom: 50px;
  border-bottom: solid 1px #ededed;
  display: flex;
  justify-content: space-between;
}

.ItemActions-total{
  text-align: right;
  margin: 5px;
}

.Summery {
  border-top: 1px solid #eded;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.Summery-item{
  flex-grow: 1;
  border-right: 1px solid #ededed;
}

.Summery-item-checkout{
  border: 0;
}
